/* 改变elementUI主题色 */
$--color-primary: $primary-color;
$--color-regular-Text: $primary-color;
$--color-text-primary: $primary-text-color !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

/* 导入elementUI 样式 */
@import "~element-ui/packages/theme-chalk/src/index";